.container{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: black 2px 2px 10px;
  margin-top: 20px;
  padding: 20px;
}
